    <!-- Footer -->
    <footer class="bg-light py-3 mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2024 SPK Karyawan Terbaik. All rights reserved.</p>
                </div>
                <!-- <div class="col-md-6"> -->
                    <!-- Form untuk mengirim email -->
                    <!-- <form action="/subscribe_website" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Subscribe untuk E-Book terbaru:</label>
                            <input type="email" class="form-control" id="email" name="subcribe_mail" placeholder="Isi email anda">
                        </div>
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form> -->
                <!-- </div> -->
            </div>
        </div>
    </footer>