

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow shadow-">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SPK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Data
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/data/data-karyawan">Data Karyawan</a></li>
                        <li><a class="dropdown-item" href="/data-penilaian-karyawan">Data Penilaian</a></li>
                        <li><a class="dropdown-item" href="/data/data-kriteria">Data Kriteria</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/data/data-kriteria">Data Perbandingan Kriteria</a></li>
                        <li><a class="dropdown-item" href="#">Data Bobot</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data/data-penilaian-karyawan" aria-disabled="false">Penilaian Karyawan</a>
                </li>

                <!-- Tampilan khusus perhitungan -->
                <li class="nav-item">
                    <a class="nav-link" href="/data/data-perhitungan" aria-disabled="false">Perhitungan</a>
                </li>
            </ul>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
        <div class="d-flex me-5 pe-3">
            <li class="nav-item dropdown list-unstyled">
              <a class="nav-link dropdown-toggle text-white fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://via.placeholder.com/50" class="rounded-circle" height="30" width="30" alt="">
                Profile
              </a>  
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/my_profile">My Profile</a></li>
                <li><a class="dropdown-item" href="/mailing">Mail Message</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-confirm">Log Out</a></li>
              </ul>
            </li>
        </div>
    </div>
    
</nav>