.search-box {
  position: relative;
  display: inline-block;
  /* margin: 20px; */
}

.search-box input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 1px 5px rgba(151, 129, 129, 0.3);
  transition: width 0.4s ease-in-out;
}

.search-box input[type="text"]:focus {
  width: 300px;
}

.search-box .btn-srch {
  position: absolute;

  right: 0;
  height: 100%;
  /* padding: 10px; */
  background-color: #32599C;
  color: #fff;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.search-box button:hover {
  background-color: #284679;
}
